<%- include('./partial/header') %>

    <main class="px-md-4 icons " style="margin-left: 18%;width: 80%; margin-top: 6%;">

        <div class="row d-flex justify-content-between w-75">
            <div class="col-md-8">
                <h1 class="mt-5">Add Product</h1>
                <br>
                <form action="/admin/addproduct" method="post" id="sample" enctype="multipart/form-data"
                    onchange="return validateForm() " class="bg-white">
                    <div class="form-group">
                        <label for="productName">Product Name : </label>
                        <input type="text" name="ProductName" class="form-control bg-light" id="productName"
                            placeholder="Product name" required />
                        <p style="color: rgb(252, 56, 56);" id="productNameError"></p>
                    </div><br>

                    <div class="form-group">
                        <label for="productDescription">Product Description:</label>
                        <textarea class="form-control bg-light" name="Description" id="productDescription" rows="4"
                            placeholder="Enter product description" required></textarea>
                            <p style="color: rgb(252, 56, 56);" id="productNameError"></p>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="productSpecification">Product Specification:</label>
                        <textarea class="form-control bg-light" name="Specification1" id="productSpecification1"
                            placeholder="Enter product Specification" required></textarea>
                        <label for="productSpecification2">Product Specification:</label>
                        <textarea class="form-control bg-light" name="Specification2" id="productSpecification"
                            placeholder="Enter product Specification" required></textarea>
                        <label for="productSpecification3">Product Specification:</label>
                        <textarea class="form-control bg-light" name="Specification3" id="productSpecification"
                            placeholder="Enter product Specification" required></textarea>
                        <label for="productSpecification4">Product Specification:</label>
                        <textarea class="form-control bg-light" name="Specification4" id="productSpecification"
                            placeholder="Enter product Specification" required></textarea>
                    </div>
                    <br>
                    <!-- <div> -->
                    <!-- <input type="file" name="images" multiple accept="image/*" style="width: 188px; height:188px;"> -->
                    <!-- <input type="file" name="image1" accept="image/*" style="width: 188px; height:188px;"> -->
                    <!-- <input type="file" name="image2" accept="image/*" style="width: 188px; height:188px;"> -->
                    <!-- <input type="file" name="image3" accept="image/*" style="width: 188px; height:188px;"> -->
                    <!-- </div> -->
                        <h3>Product Images</h3>
                    <div class="col-md-3">
                        <div class="custom-file">
                            <label class="btn btn-rounded border rounded custom-file-label" for="imageInput1">
                                <input type="file" class="custom-file-input" name="main" style="display: none;" id="imageInput1" accept="image/*" required>
                                Main Image
                            </label>
                        </div>
                        <img id="imagePreview1" src="" class="img-thumbnail mt-2" alt="">
                        
                        <button class="btn btn-outline-danger mt-2 delete-button" id="deleteButton1" style="display: none">Delete</button>
                    <br></div>
                    <div class="col-md-3">
                        <div class="custom-file">
                            <label class="btn btn-rounded border rounded custom-file-label" for="imageInput2">
                                <input type="file" class="custom-file-input" required name="image1" style="display: none;" id="imageInput2" accept="image/*">
                                Add Image
                            </label>
                        </div>
                        <img id="imagePreview2" src="" class="img-thumbnail mt-2" alt="">
                        <button class="btn btn-outline-danger mt-2 delete-button" id="deleteButton2" style="display: none">Delete</button>
                    <br> </div>
                    <div class="col-md-3">
                        <div class="custom-file">
                            <label class="btn btn-rounded border rounded custom-file-label" for="imageInput3">
                                <input type="file" class="custom-file-input" required name="image2" style="display: none;" id="imageInput3" accept="image/*">
                                Add Image
                            </label>
                        </div>
                        <img id="imagePreview3" src="" class="img-thumbnail mt-2" alt="">
                        <button class="btn btn-outline-danger mt-2 delete-button" id="deleteButton3" style="display: none">Delete</button>
                   <br> </div>
                    <div class="col-md-3">
                        <div class="custom-file">
                            <label class="btn btn-rounded border rounded custom-file-label" for="imageInput4">
                                <input type="file" class="custom-file-input" required name="image3" style="display: none;" id="imageInput4" accept="image/*">
                                Add Image
                            </label>
                        </div>
                        <img id="imagePreview4" src="" class="img-thumbnail mt-2" alt="">
                        <button class="btn btn-outline-danger mt-2 delete-button" id="deleteButton4" style="display: none">Delete</button>
                    <br></div>
                    <div class="border p-3 mb-3">
                        <h2>Pricing</h2>
                        <div class="form-group">
                            <label for="basePrice">Base Price:</label>
                            <input type="number" name="Price" class="form-control bg-light" id="basePrice"
                                placeholder="Enter base price" required />
                                <p style="color: rgb(252, 56, 56);" id="basePriceError"></p>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="discountAmount">Discount Amount:</label>
                            <input type="number" name="DiscountAmount" class="form-control bg-light" id="discountAmount"
                                placeholder="Enter discount amount" required />
                                <p style="color: rgb(252, 56, 56);" id="discountAmountError"></p>
                        </div>
                    </div>
                    <div class="border p-3 mb-3">
                    </div>
                    <div class="border p-3 mb-3">
                        <h2>Stock</h2>
                        <div class="form-group">
                            <label for="quantity">Quantity:</label>
                            <input type="number" name="AvailableQuantity" class="form-control bg-light" id="quantity"
                                placeholder="Enter quantity" required />
                                <p style="color: rgb(252, 56, 56);" id="quantityError"></p>
                        </div>
                    </div>
            </div>
            <div class="col-md-4 my-5">
                <div class="bg-white p-3">
                    <div class="form-group">
                        <br>
                        <label>Category:</label>
                        <select class="form-select bg-light" id="category" name="Category" required>
                            <option value="" selected disabled>Select a category</option>
                            <% catogory.forEach((x)=>{ %>
                                <option>
                                    <%= x.CategoryName%>
                                </option>
                                <% }) %>        
                        </select>
                    </div><br>
                    <div class="form-group">
                        <br>
                        <label>Brand Name:</label>
                        <select name="BrandName" class="form-select bg-light" id="brand" required>
                            <option value="" selected disabled>Select a Brand</option>
                            <option>SAMSUNG</option>
                            <option>APPLE</option>
                            <option>XIOMI</option>
                            <option>HP</option>
                            <option>DELL</option>
                            <option>ASUS</option>
                            <option>MSI</option>
                            <option>ACER</option>
                            <option>LENOVO</option>
                        </select>
                    </div><br>
                    <div class="form-group">
                        <label for="tags">Tags:</label>
                        <input type="text" class="form-control bg-light" name="Tags" id="tags" placeholder="Enter tags"
                            required />
                    </div>
                </div>
                <button type="submit" class="btn btn-primary ms-3" id="submitButton">Add Product</button>
            </div>
            </form>
        </div>
    </main>
    <div id="customAlertModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Custom Alert</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="customAlertMessage"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
          document.getElementById('productName').addEventListener('input', validateForm);
          document.getElementById('basePrice').addEventListener('input', validateBasePrice);
          document.getElementById('discountAmount').addEventListener('input', validateDiscountAmount);
          document.getElementById('quantity').addEventListener('input', validateQuantity);
        });
      
        function validateForm() {
          var productName = document.getElementById('productName').value.trim();
          var submitButton = document.getElementById('submitButton');
      
          if (productName === '') {
            document.getElementById('productNameError').innerHTML = 'Product name is required.';
            submitButton.disabled = true;
          } else {
            document.getElementById('productNameError').innerHTML = '';
            submitButton.disabled = false;
          }
        }
      
        function validateBasePrice() {
          var basePrice = parseFloat(document.getElementById('basePrice').value);
          var discountAmount = parseFloat(document.getElementById('discountAmount').value);
      
          if (basePrice > 1 && !isNaN(basePrice)) {
            document.getElementById('basePriceError').innerHTML = '';
            document.getElementById('discountAmountError').innerHTML = '';
            document.getElementById('submitButton').disabled = false;
          } else {
            document.getElementById('basePriceError').innerHTML = 'Base price must be greater than 1';
            document.getElementById('discountAmountError').innerHTML = '';
            document.getElementById('submitButton').disabled = true;
          }
        }
      
        function validateDiscountAmount() {
          var basePrice = parseFloat(document.getElementById('basePrice').value);
          var discountAmount = parseFloat(document.getElementById('discountAmount').value);
      
          if (discountAmount >= 1 && discountAmount <= basePrice) {
            document.getElementById('discountAmountError').innerHTML = '';
            document.getElementById('submitButton').disabled = false;
          } else {
            document.getElementById('discountAmountError').innerHTML = 'Discount amount must be greater than 1 and less than or equal to base price.';
            document.getElementById('submitButton').disabled = true;
          }
        }
      
        function validateQuantity() {
          var quantity = parseInt(document.getElementById('quantity').value);
      
          if (quantity > 1 && !isNaN(quantity)) {
            document.getElementById('quantityError').innerHTML = '';
            document.getElementById('submitButton').disabled = false;
          } else {
            document.getElementById('quantityError').innerHTML = 'Quantity must be greater than 1.';
            document.getElementById('submitButton').disabled = true;
          }
        }
      </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const inputIds = ["1", "2", "3", "4"];
    
            inputIds.forEach((id) => {
                const input = document.getElementById(`imageInput${id}`);
                const preview = document.getElementById(`imagePreview${id}`);
                const deleteButton = document.getElementById(`deleteButton${id}`);
    
                input.addEventListener('change', (e) => {
                    const file = e.target.files[0];
    
                    if (file) {
                        const reader = new FileReader();
                        reader.onload = (event) => {
                            preview.src = event.target.result;
                            deleteButton.style.display = 'block';
                        };
                        reader.readAsDataURL(file);
                    } else {
                        preview.src = '';
                        preview.alt= '';
                        deleteButton.style.display = 'none';
                    }
                });
    
                deleteButton.addEventListener('click', () => {
                    input.value = '';
                    preview.src = '';
                    deleteButton.style.display = 'none';
                });
            });
        });
    </script>
    <script>
    document.addEventListener("DOMContentLoaded", function () {
        const inputIds = ["1", "2", "3", "4"];
    
        inputIds.forEach((id) => {
            const input = document.getElementById(`imageInput${id}`);
            const preview = document.getElementById(`imagePreview${id}`);
            const deleteButton = document.getElementById(`deleteButton${id}`);
    
            input.addEventListener('change', (e) => {
                const file = e.target.files[0];
    
                if (file) {
                    const reader = new FileReader();
                    reader.onload = (event) => {
                        preview.src = event.target.result;
                        deleteButton.style.display = 'block';
                    };
                    reader.readAsDataURL(file);
                } else {
                    
                    preview.src = '';
                    preview.alt= '';
                    deleteButton.style.display = 'none';
                }
            });
        });
    
n
        document.getElementById('sample').addEventListener('submit', function(event) {
            const imageInputs = inputIds.map(id => document.getElementById(`imageInput${id}`));
            const hasEmptyImage = imageInputs.some(input => !input.files[0]);
    
            if (hasEmptyImage) {
               
                const customAlertMessage = document.getElementById('customAlertMessage');
                customAlertMessage.textContent = 'Please select images for all fields.';
                
               
                Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Please select images for all fields.',
            });

            event.preventDefault(); 
            }
        });
    });
    </script>
    
    <%- include('./partial/footer') %>