<%- include('./partial/header') -%>


<!-- //oder details list -->
            
            <div class="details">
                <div class="recentOrders">
                    <div class="cardHeader">
                        <h1>Customers</h1>
                        <!-- <a href="#" class="btn">View All</a> -->
                    </div>

                    <table>
                        <thead>
                            <tr>
                                <td>Name</td>
                                <td>Email</td>
                                <td>Join Date</td>
                                <td>Status</td>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>Clint</td>
                                <td>Andfui@gmail.com</td>
                                <td>03/10/2023</td>
                                <td><span class="status delivered">Active</span></td>
                            </tr>

                           
                            <tr>
                                <td>Yadhu</td>
                                <td>yadhu@gmail.com</td>
                                <td>02.08.2023</td>
                                <td><span class="status return">Block</span></td>
                            </tr>

                            <tr>
                                <td>Clint</td>
                                <td>Andfui@gmail.com</td>
                                <td>03/10/2023</td>
                                <td><span class="status delivered">Active</span></td>
                            </tr>

                            <tr>
                                <td>Yadhu</td>
                                <td>yadhu@gmail.com</td>
                                <td>02.08.2023</td>
                                <td><span class="status return">Block</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

               
                
            </div>


        </div>
    </div>




  <%- include('partial/footer') -%>