<%- include ('partial/dataheader') -%>
<div class="text-center center-div d-flex align-items-center boarder-2 justify-content-center" id="LoginPage">
    <div class="wrapper text-center center-div align-items-center justify-content-center">
        <div class="title-one">
            Enter New Password
        </div>
        <form action="/user/pass-change" method="POST" onchange="return validateForm()">
            <div class="field">
                <input type="password" name="password" id="password" required>
                <label>New Password</label>
            </div>
            <div class="field">
                <input type="password" name="confirmPassword" id="confirmPassword" required>
                <label>Confirm Password</label>
            </div>
            <div id="password-warning" style="color: red;"></div>
            <br>
            <div class="field">
                <input type="submit" value="Confirm" id="submitButton" >
            </div>
            <br>
        </form>
    </div>
</div>


<script>
    console.log("Script loaded");

    function validateForm() {
        console.log("Validating form...");
        var password = document.getElementById("password").value.trim();
        var confirmPassword = document.getElementById("confirmPassword").value.trim();
        let passwordWarning = document.getElementById('password-warning');
        let submitButton = document.getElementById('submitButton');

        console.log("Password:", password);
        console.log("Confirm Password:", confirmPassword);

        if (!password || !confirmPassword) {
            passwordWarning.textContent = "Passwords are required";
            submitButton.disabled = true;
            return false;
        }

        if (password !== confirmPassword) {
            passwordWarning.textContent = "Passwords do not match. Please check.";
            submitButton.disabled = true;
            return false;
        }

        if (!password || password.length < 8 || !/[0-9]/.test(password) || !/[A-Z]/.test(password) || !/[a-z]/.test(password) || !/[$&+,:;=?@#|'<>.^*()%!-]/.test(password)) {
            passwordWarning.textContent = "New password should contain at least one uppercase letter, one lowercase letter, a special character (@#$%^&+=!), and a number. Password length should be between 8 and 20 characters.";
            submitButton.disabled = true;
            return false;
        }

        passwordWarning.textContent = "";
        submitButton.disabled = false;
        return true;
    }
</script>
<%- include('partial/footer') -%>
