.gradient-custom-3 {
    background: #84fab0;
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
        background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
    }
    .gradient-custom-4 {
    background: #84fab0;
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
    }
    #bg {
        /* The image used */
        
      
        /* Full height */
        height: 100%;
      
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      a, a:hover{
        color:#333
      }
      .home-pagin{
        z-index: 800px;
        background-color: rgba(0, 0, 0, 0);
      } 
      .imgin{
        /* Set the background image URL */
        background-image: url('/image/Slider1.jpg');
        /* Set background size, position, and repeat properties */
        background-size: cover; 
        background-position: center center;
        background-repeat: no-repeat;
        /* Set the height of the container (adjust as needed) */
        height: 400px;
      } 
      #navbar {
        background-color: rgba(0, 0, 0, 0); /* Transparent background color */
      } */
      
      #navdiv {
        background-color: rgba(0, 0, 0, 0); /* Transparent background color */
      }
      
/*24 hour support*/
      .popular-product {
        padding: 5rem 0 7rem 0;
        height: 70%;
        
      }
        .popular-product .product-item-sm h3 {
          font-size: 14px;
          font-weight: 700;
          color: #2f2f2f; }
        .popular-product .product-item-sm a {
          text-decoration: none;
          color: #2f2f2f;
          -webkit-transition: .3s all ease;
          -o-transition: .3s all ease;
          transition: .3s all ease; }
          .popular-product .product-item-sm a:hover {
            color: rgba(47, 47, 47, 0.5); }
        .popular-product .product-item-sm p {
          line-height: 1.4;
          margin-bottom: 10px;
          font-size: 14px; }
        .popular-product .product-item-sm .thumbnail {
          margin-right: 10px;
          -webkit-box-flex: 0;
          -ms-flex: 0 0 120px;
          flex: 0 0 120px;
          position: relative; }
          .popular-product .product-item-sm .thumbnail:before {
            content: "";
            position: absolute;
            border-radius: 20px;
            background: #ffffff;
            width: 98px;
            height: 98px;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            z-index: -1; }
            body{
              height: 100vh;
            }
            .wrapper{
                width: 380px;
                background: #fff;
                border-radius: 15px;
              }
              .wrapper .title{
                font-size: 35px;
                font-weight: 600;
                text-align: center;
                line-height: 100px;
                color: #100101;
                border-radius: 15px 15px 0 0;
              }
              .wrapper .title-one{
                font-size: 35px;
                font-weight: 600;
                text-align: center;
                line-height: 100px;
                color: #000000;
                user-select: none;
                border-radius: 15px 15px 0 0;
              }
              .wrapper .title-Two{
                font-size: 35px;
                font-weight: 600;
                text-align: center;
                line-height: 100px;
                color: #000000;
                user-select: none;
                border-radius: 15px 15px 0 0;
              }
              .wrapper form{
                padding: 10px 30px 50px 30px;
              }
              .wrapper form .field{
                height: 50px;
                width: 100%;
                margin-top: 20px;
                position: relative;
              }
              .wrapper form .field input{
                height: 100%;
                width: 100%;
                outline: none;
                font-size: 17px;
                padding-left: 20px;
                border: 1px solid lightgrey;
                border-radius: 5px;
                transition: all 0.3s ease;
              }
              .wrapper form .field label{
                position: absolute;
                top: 50%;
                left: 20px;
                color: #999999;
                font-weight: 400;
                font-size: 17px;
                pointer-events: none;
                transform: translateY(-50%);
                transition: all 0.3s ease;
              }
              form .field input:focus ~ label,
              form .field input:valid ~ label{
                top: 0%;
                font-size: 16px;
                color: #4158d0;
                background: #fff;
                transform: translateY(-50%);
              }
              form .content{
                display: flex;
                width: 100%;
                height: 50px;
                font-size: 16px;
                align-items: center;
                justify-content: space-around;
              }
              form .field input[type="submit"]{
                color: #fff;
                border: none;
                padding-left: 0;
                margin-top: -10px;
                font-size: 20px;
                font-weight: 500;
                cursor: pointer;
                background-color: #16de30;
              }
              form .field input[type="submit"]:active{
                transform: scale(0.95);
              }
              form .signup-link{
                color: #262626;
                margin-top: 20px;
                text-align: center;
              }
              form .pass-link a,
              form .signup-link a{
                color: #4158d0;
                text-decoration: none;
              }
              /* side bar */
body {
  background-color: #ffffff;
}
@media (min-width: 991.98px) {
  main {
    padding-left: 240px;
  }
}

/* Sidebar */


.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;
  z-index: 600;
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
  }
}
.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

